.container-brands{
  margin: 0 auto;
  max-width: 1920px; 
  margin-bottom: 80px;
  h2{
    font-size: 32px;
    font-weight: 700;
    color:#353535;
    display: block;
    text-align: center;
    margin-bottom: 32px;
  }
  .container-items{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 15px;
    .brands-item{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      gap:15px;
      img{
        display: block;
        width: 308px;
        height: 64px;
        mix-blend-mode: color-burn;
        text-align: center;
      }

    }
  }
}